@import base/_mixins

a
  +transition(all .08s ease-in-out)

$header_height: 30px

body
  font-family: 'Helvetica Neue', Arial, Helvetica
  line-height: 1.5em
  font-size: 13px
  color: #222
header
  position: fixed
  top: 0
  left: 0
  width: 100%
  height: $header_height
  overflow: hidden
  z-index: 999
  background: rgba(240,240,240,.9)
  border: 1px solid #ccc
  
  .right
    position: absolute
    top: 0
    right: 0
  
  h1
    text-align: center
    margin: 0
    font-size: 14px
    line-height: $header_height
    color: rgba(130,130,130,1)
    +text_shadow(0, 1px, 2px, #fff)
  
#main
  margin-top: $header_height+50
  
  #left
    width: 120px
    border: 1px
    float: left
    
  #center
    margin: 0 200px
    max-width: 800px
    
  #right
    position: absolute
    top: 50px
    right: 0
    width: 200px
a
  color: #0099CC
  

// READER STYLES

.article
  border-bottom: 1px solid #ccc
  
  h3
    margin: 0
  
  a.title
    color: #333
    text-decoration: none
    display: block
    padding: 10px 0
    
    &:hover
      color: #09C
  
  .guts
    display: none
  
  &.read
    h3
      font-weight: normal
      a
        color: #666

  &.active
    h3
      font-weight: bold
      a
        color: #333
    .guts
      display: block
      

.alignleft
  float: right
  margin: 0 10px 10px 0
  
.alignright
  float: right
  margin: 0 0 10px 10px