!!!
%html
  %head
    %title Rread
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
    %script{:src => "http://use.typekit.com/hrs5uav.js"}
    %script
      try{Typekit.load();}catch(e){}
    
  %body
  
  %header
    %h1.tk-lobsters rread
  
  #main
    - if signed_in?
      %p [You are signed in!]
      %p=current_user.name + ' - ' + current_user.email
      
      %img{src: current_user.avatar}
    - else
      %p [Not signed in]
      
    = yield
  
  %footer