.reader
  .left
    %header.box
      .left
        .all-items
          All Items
          .num
            = @unread_count

        / .inbox
        /   Inbox
        /   .num
        /     0

        .btn-group.sources
          %a.dropdown-toggle{'data-toggle' => 'dropdown', 'href' => '#'}
            Sources
          %ul.dropdown-menu
            - @subscriptions.each do |sub|
              %li
                %a{:href => '#'}
                  = sub[:blog_name]
                  (
                  = sub[:unread_count]
                  )
            
      .right
        %a{:href => '#'} Mark All as Read

        .add
          .text +
      .clearer

    .articles.box
      = image_tag('cave-story-spinner.gif', :class => 'spinner')

  .right
    .activity-feed.box

    .ad.box
      Ad Goes Here

    .static
      %a{:href => '#'} Terms
      %a{:href => '#'} Privacy
      %a{:href => '#'} API
      %a{:href => '#'} Help

    .clearer

%script{:id => 'tpl-article', :type => 'text/template'}
  %img{:src => '{{faviconURL}}', :class => 'favicon'}
  .title
    {{{title}}}
  .date
    {{date}}
  .blog
    {{blogName}}
  .content
  .clearer

%script{:id => 'tpl-activity-item', :type => 'text/template'}
  .avatar
    %img.circular
  .msg
    {{{userName}}} {{{actionName}}} {{{targetName}}}.