.reader
  .articles

%script{:id => 'tpl-article', :type => 'text/template'}
  %img{:src => '{{faviconURL}}', :class => 'favicon'}
  .title
    {{{title}}}
  .date
    {{date}}&nbsp;-&nbsp;
  .blog
    {{blogName}}