.reader
  .left
    %header.box
      .left
        .all-items
          All Items
          .num
            = @unread_count
        .inbox
          Inbox
          .num
            0
        .sources
          Sources
      .right
        Mark All as Read
      .clearer

    .articles.box  

  .right
    .activity-feed.box
      test
      test

    .ad.box
      Ad Goes Here

    .static
      %a{:href => '#'} Terms
      %a{:href => '#'} Privacy
      %a{:href => '#'} API
      %a{:href => '#'} Help

    .clearer

%script{:id => 'tpl-article', :type => 'text/template'}
  %img{:src => '{{faviconURL}}', :class => 'favicon'}
  .title
    {{{title}}}
  .date
    {{date}}
  .blog
    {{blogName}}
  .content
  .clearer